/*Begin body*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: #bfbfbf;
}
body{
  background-color: #4f0087;
  height: 100%;
  width: 100%;
}
/*End body*/